---
import GitHub from "./icons/GitHub.astro"
import Javascript from "./icons/Javascript.astro"
import React from "./icons/React.astro"
import Link from "./icons/Link.astro"
import NodeJs from "./icons/Nodejs.astro"
import LinkButton from "./LinkButton.astro"


const TAGS = {
  JS: {
    name: "Javascript",
    class: "bg-[#f7df1e] text-black",
    icon: Javascript,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-[#6cc24a] text-black",
    icon: NodeJs,
  }
}
const PROJECTS = [
  {
    title: "El Libro Escarlata",
    description:
      "Complex web RPG video game that uses many React, Zustand, Firebase and Typescript resources. It has a story mode, combat, the possibility of improving the character, saving the character in the database and many other options.",
    link: "https://libroescarlata.netlify.app/",
    github: "https://github.com/jagustinrm/libroescarlata",
    image: "/projects/libroEscarlata.webp",
    tags: [TAGS.REACT, TAGS.JS, TAGS.NODEJS],
  },
  {
    title: "DriveIn",
    description:
      "The website is an e-commerce that consists in providing car rental services around the main tourist cities in Latin America, with the objective of being used for tourist purposes or any other need. In this way we seek to guarantee the best rental service in LATAM.",
    link: "https://drivein.vercel.app/",
    github: "https://github.com/jagustinrm/DriveIn",
    image: "/projects/DriveInHome.webp",
    tags: [TAGS.REACT, TAGS.JS, TAGS.NODEJS],
  },
  {
    title: "Pokemon SPA - JS Vanilla",
    description:
      "Frontend app with only vanilla Javascript.",
    link: "https://spapokemonvanilla.netlify.app/",
    image: "/projects/pkm.png",
    github: "https://github.com/jagustinrm/SPApokemon",
    tags: [TAGS.JS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-col mt-2">
        <ul class="flex flex-column mb-2 gap-x-2">
            {tags?.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



